<div class="container">
    <div class="row">
      <div class="col-12">
         <div class="row">
           <div class="col-6 offset-3 titulo_w">
              <h1 *ngFor="let wifi of roteador">{{wifi.wifi.nome}}</h1>
           </div>
         </div>
        <div class="container">
          <div class="row" *ngFor="let wifi of roteador">
            <div class="col-12 borderred">
                <div class="row">
                  <div class="text-center col-2 offset-5">
                    <h3>{{wifi.wifi.sku}}</h3>
                  </div>
                </div>
                <p class="text-center">{{wifi.wifi.descricao}}</p>
                <div class="row" *ngFor = "let plano of sinal">
                  <div class="col-6 text-center espaco_linha">{{plano.sku}}
                    <div class="row">
                        <div class="col-6 offset-4 text-left">
                          <ul>
                              <li><span>Aparelho:</span>&nbsp;<span>{{plano.aparelho.nome}}</span></li>
                              <li><span>Valor:</span>&nbsp;<span>R{{plano.aparelho.valor | currency}}</span></li>
                              <li><span>Quantidade de Parcelas:</span>&nbsp;<span>{{plano.aparelho.numParc}}</span></li>
                              <li><span>Valor das Parcelas</span>&nbsp;<span>R{{plano.aparelho.valorParc | currency}}</span></li>
                          </ul>
                        </div>
                    </div>  
                  </div>
                  <div class="col-2 text-center espaco_linha">{{plano.franquia}}</div>
                  <div class="col-2 text-center espaco_linha">R{{plano.valor | currency}}</div>
                </div>
                <p>{{mensagemcliente}}</p>
                <div class="row">
                  <div class="col-12">
                    <form (ngSubmit)="f.form.valid && saveClient(f)" #f="ngForm" novalidate>
                      <div class="row">
                        <div class="col-12">
                          <div class="row espaco_linha">
                            <div class="col-2 margintop30px">
                              <label class="sku" for="">Plano Escolhido</label>
                            </div>
                            <div class="col-8">
                              <div class="row">
                                <div class="col-6">
                                  <label for="">Escolha o seu plano</label>
                                  <select class="input_wooza" #sel (change)="changed(sel.value)" id="plano" name="plano" [(ngModel)]="client.plano" #plano="ngModel" required [ngClass]="{'is-invalid': f.submitted && plano.invalid}" value="Select">
                                    <option *ngFor="let franq of PLANO" [ngValue]="franq">{{franq}}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row espaco_linha">
                            <div class="col-2">
                              <label for="">Nome</label>
                            </div>
                            <div class="col-10" >
                              <input class="input_wooza" [(ngModel)]="client.nome" type="text"  id="nome" name="nome" #nome="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && nome.invalid }" placeholder="Digite seu nome">
                              <div *ngIf="f.submitted && nome.invalid" class="invalid-feedback">
                                <div *ngIf="nome.errors.required">Nome é obrigatório</div>
                              </div>
                            </div>
                          </div>
                          <div class="row espaco_linha">
                            <div class="col-2">
                              <label for="">E-mail</label>
                            </div>
                            <div class="col-10">
                              <input type="text" class="input_wooza"  id="email" name="email" [(ngModel)]="client.email" #email="ngModel" required [ngClass]="{'is-invalid': f.submitted && email.invalid}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder = "Digite seu e-mail">
                              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                <div *ngIf="email.errors.required">Digite seu e-mail!</div>
                                <div *ngIf="email.errors && (email.touched || email.dirty)">
                                    <div [hidden]="!email.errors?.pattern"> 
                                      Digite um email válido
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row espaco_linha">
                            <div class="col-2"><label for="">Endereço</label></div>
                            <div class="col-5">
                              <input type="text" class="input_wooza" placeholder="Rua, Avenida, Travessa"  id="logradouro" name="logradouro" [(ngModel)]="client.logradouro" #logradouro="ngModel" required [ngClass]="{'is-invalid': f.submitted && logradouro.invalid}" placeholder="Digite seu Endereço">
                              <div *ngIf="f.submitted && logradouro.invalid" class="invalid-feedback">
                                <div *ngIf="logradouro.errors.required">Digite seu Endereço</div>
                              </div>
                            </div>
                            <div class="col-2"><input type="text" class="input_wooza" placeholder="número"  id="numero" name="numero"></div>
                            <div class="col-3"><input type="text" class="input_wooza" placeholder="complemento"  id="complemento" name="complemento"></div>
                          </div>
                          <div class="row espaco_linha">
                            <div class="col-2"><label for="">Cidade</label></div>
                            <div class="col-5">
                              <input type="text" class="input_wooza"  id="cidade" name="cidade" [(ngModel)]="client.cidade" #cidade="ngModel" required [ngClass]="{'is-invalid': f.submitted && cidade.invalid}" placeholder="Digite sua Cidade">
                              <div *ngIf="f.submitted && cidade.invalid" class="invalid-feedback">
                                <div *ngIf="cidade.errors.required">Digite sua Cidade</div>
                              </div>
                            </div>
                            <div class="col-1 text-center"><label for="">UF</label></div>
                            <div class="col-4">
                              <select class="select_uf"  name="estado" id="estado" [(ngModel)]="client.estado" #estado="ngModel" required [ngClass]="{'is-invalid': f.submitted && estado.invalid}">
                                <option *ngFor="let state of UF" [ngValue]="state">{{state}}</option>
                              </select>
                              <div *ngIf="f.submitted && estado.invalid" class="invalid-feedback">
                                <div *ngIf="estado.errors.required">Escolha o Estado</div>
                              </div>
                            </div>
                          </div>
                          <div class="row espaco_linha">
                            <div class="col-2"><label for="">CEP</label></div>
                            <div class="col-4"><input type="text" class="input_wooza"  id="CEP" name="CEP" [(ngModel)]="client.CEP" #CEP="ngModel" required [ngClass]="{'is-invalid': f.submitted && CEP.invalid}" placeholder="Digite o CEP" [textMask]="{mask: maskcep}">
                                <div *ngIf="f.submitted && CEP.invalid" class="invalid-feedback">
                                  <div *ngIf="CEP.errors.required">Digite o CEP</div>
                                </div>
                            </div>
                            <div class="col-2"><label for="">telefone</label></div>
                            <div class="col-4"><input type="text" class="input_wooza"  id="fone" name="fone" [textMask]="{mask: maskfone}" [(ngModel)]="client.fone" #fone="ngModel" required [ngClass]="{'is-invalid': f.submitted && fone.invalid}" placeholder="Digite o telefone">
                                <div *ngIf="f.submitted && fone.invalid" class="invalid-feedback">
                                  <div *ngIf="fone.errors.required">Digite seu Telefone</div>
                                </div>
                            </div>
                          </div>
                          <div class="row espaco_linha">
                            <div class="col-2">
                              <label for="">CPF</label>
                            </div>
                            <div class="col-6">
                              <input type="text" class="input_wooza"  id="CPF" name="CPF" [textMask]="{mask: maskcpf}" [(ngModel)]="client.CPF" #CPF="ngModel" required [ngClass]="{'is-invalid': f.submitted && CPF.invalid}" placeholder="Digite seu CPF">
                                <div *ngIf="f.submitted && CPF.invalid" class="invalid-feedback">
                                  <div *ngIf="CPF.errors.required">Digite seu CPF</div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-8 offset-3">
                          <div class="espaco_linha flex justify-content-center">
                            <div style="width: 200px">
                              <button type="submit" class="btnenviar">Enviar</button>
                            </div>
                            <div style="width: 200px">
                              <button type="reset" class="btnenviar" (click)="cleanForm(f)">Cancelar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form> 
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

