<div class="row">
  <div class="col-6 offset-3 close-nav">
    <a [routerLink]="['/']">
      <img class="logo" [src]="logo">
      <img class="logomobile" [src]="logo">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-8 offset-2">
      <div class="row">
        <div class="col-4 text-center ">
          <a [routerLink]="['/mobile']" class="linkstyle">
            Mobile
          </a>
        </div>
        <div class="col-4 text-center ">
          <a [routerLink]="['/desktop']" class="linkstyle">
            Desktop
          </a>
        </div>
        <div class="col-4 text-center ">
          <a [routerLink]="['/wifi']" class="linkstyle">
            Wi-Fi
          </a>
        </div>
      </div>
  </div>
</div>
<div class="container-fluid">
  
</div>



<router-outlet></router-outlet>
